body{
    max-height: 100vh !important;
    background-image: url('https://wallpapercave.com/wp/wp10254485.jpg') !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}
*{
    ::-webkit-scrollbar {
        display: none;
      }
}